{% extends 'VinFrontOfficeBundle::layout.html.twig' %}

	{% block content %}

        <div class="container">

    		<header class="jumbotron hero-spacer">
                <h1>{{ region.nameRegion |capitalize }}</h1>
                <p>{{ region.descriptionRegion }}</p>
            </header>

                <hr>
	

        <div class="container">

        <!-- Page Features -->
             <div class="row text-center">

                {% for vin in showAppellation %}
                    <div class="col-md-3 col-sm-6 hero-feature">
                        <div class="thumbnail">
                            {# <img class="img-responsive img-hover" src="../../../public/images/{{ vin.vue }}.jpg" alt="vin.slug" /> #}
                            <img class="img-responsive img-hover" src="{{ asset('public/images/' ~ vin.vue ~ '.jpg') }}" style="height:190px;" alt="vin.slug" />
                            <div class="caption" style ="height:433px;overflow:hidden;">
                                <h3> {{ vin.nameAppellation }}</h3>
                                <p>{{ vin.descriptionAppellation }}</p>
                                <p>
                                    <a href="{{ path('vin_front_office_showVinsAppellations',{slug:vin.slug}) }}" class="btn btn-primary">Voir tous les vins de {{ vin.nameAppellation }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

             </div>
        <!-- /.row -->

        </div>

{% endblock %}