{% extends 'VinFrontOfficeBundle::layout.html.twig' %}

	{% block content %}

		<div class="container">

	        <div class="row">

	            <div class="col-md-3">
	                <h2 class="lead">{{ showOneVin.appellation.nameAppellation }}</h2>
	                <div class="list-group">
	                    <a href="{{ path('vin_front_office_homepage') }}" class="list-group-item active">Retour à l'accueil</a>
	                    {#<a href="{{ path('vin_front_office_showAppellation',{slug:showOneVin.appellation.slug}) }}" class="list-group-item">Choix des vins par appellation</a>#}
	                    <a href="#" class="list-group-item">Voir mon panier</a>
	                </div>
	            </div>

	            <div class="col-md-9">

	                <div class="thumbnail">
	                    <img class="img-responsive" src="http://placehold.it/800x300" alt="">
	                    <div class="caption-full">
	                        <h4 class="pull-right">{{ showOneVin.price }} €</h4>
	                        <h4>{{ showOneVin.nameWine }} {{ showOneVin.title }} {% if showOneVin.domaine %} {{ showOneVin.domaine.nameDomaine }} {% endif %}<br>
                            {{ showOneVin.year }}</h4>
	                        </h4>

	                        <p>Votre vin {{ showOneVin.description }} </p><br>
	                        <p>Accompagne à merveille {{ showOneVin.mealWine }}</p><br>
                            <a href="{{ path('vin_front_office_basket_add',{id:showOneVin.id}) }}" class="btn btn-primary" style="margin-left:365px;">Ajouter au panier</a>
	                    </div>

	                </div>

	            </div>

	        </div>

	    </div>

	{% endblock %}