{% extends "VinFrontOfficeBundle::layout.html.twig" %}
                   
    {% block content %}
    <!-- Page Content -->
        <div class="container">

            <!-- Page Heading/Breadcrumbs -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Bienvenue sur le site des  vins de France :<br>
                        <small>Choisissez votre région :</small>
                    </h1>
                </div>
            </div>
            <!-- /.row -->

            <!-- Project One -->
            {% for region in showRegions %}
                <div class="row">
                    <div class="col-md-7">
                        <a href="portfolio-item.html">
                            <img class="img-responsive img-hover" src="../public/images/{{region.vue}}.jpg" alt="region.vue" style="height:300px;width:700px;">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <h3>{{ region.nameRegion }}</h3>
                        <p>{{ region.descriptionRegion}}</p>
                        <a class="btn btn-primary" href="{{ path('vin_front_office_showAppellation',{slug:region.slug}) }}">Voir toutes les appellations :</a>
                    </div>
                </div>

                 <hr>
            {% endfor %}
            <!-- /.row -->

           

            <div class="row">

                <div class="col-md-4">
                    <h3>Bonne affaire !</h3>


                            {{ vinLessPrice.nameWine }}<br>
                            {{ vinLessPrice.price }} € <br>

                            <a href="{{ path('vin_front_office_basket_add',{id:vinLessPrice.id}) }}" class="btn btn-primary">Ajouter au panier</a><br><br>


                </div>

                <div class="col-md-4">
                    <h3>Vin du mois :</h3>

                        
                            {{ vinDuMois.nameWine }}<br>
                            {{ vinDuMois.price }} € <br>

                            <a href="{{ path('vin_front_office_showOneVin',{id:vinDuMois.id}) }}" class="btn btn-primary">Détail du vin</a><br><br>

                </div>

                <div class="col-md-4">
                    <h3>Notre Bordeaux :</h3>

                        
                            {{ bordeaux.nameWine }}<br>
                            {{ bordeaux.price }} € <br>

                            <a href="{{ path('vin_front_office_showOneVin',{id:bordeaux.id}) }}" class="btn btn-primary">Détail du vin</a><br><br>   

                </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    {{ form(formPrice) }}

                </div>

            </div>

            <div class="row">

                 <div class="col-md-12">

                    {{ form(formColor) }}

                 </div>

            </div>

            <div class="row">

                <div class="col-md-12">

                    {{ form(formYear) }}

                </div>

            </div>



            <!-- Pagination -->
            <div class="row text-center">
                <div class="col-lg-12">
                    <ul class="pagination">
                        <li>
                            <a href="#">&laquo;</a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">5</a>
                        </li>
                        <li>
                            <a href="#">&raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.row -->

            <hr>

       {% endblock %}
        